body {
  background-color: #f4f4f2;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: #bbbfca;
  margin-left: 30%;
  margin-top: 10%;
  margin-right: 25%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.drum-pad {
  width: 50px;
  background-color: #e8e8e8;
  padding: 30px;
  text-align: center;
  margin: 5px;
  border: 1px solid #495464;
  border-radius: 2px 2px;
  -webkit-border-radius: 2px 2px;
  -moz-border-radius: 2px 2px;
  -ms-border-radius: 2px 2px;
  -o-border-radius: 2px 2px;
}

.drum-pad:active {
  background-color: #495464;
  color: #bbbfca;
}

#pads {
  display: flex;
  width: 400px;
  flex-flow: row wrap;
}

#drum-machine {
  padding: 30px;
}

.title {
  width: 240px;
  margin-top: 25px;
}

.sound_name {
  background-color: #e8e8e8;
  font-size: 24px;
  padding: 10px;
}